.page_title_with_backbutton {
  display: flex;
  align-items: center;
  gap: 12px;
  height:38px;
  margin-bottom: 10px;

  .title_container {
    display: flex;
    align-items: center;
    gap: 10px;

    .page_title {
      font-size: 24px;
      font-weight: 700;
      color: #1a1f36;
      margin: 0;
    }

    .page_subtitle {
      background-color: #f0f4f8;
      color: #1a1f36;
      font-size: 14px;
      font-weight: 500;
      padding: 4px 10px;
      border-radius: 6px;
      width: fit-content;
      font-family: sans-serif;
    }
  }
}