.page_title_with_backbutton {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: -14px;
    margin-bottom: 0px;
}

/* Responsive for screens below 600px */
@media (max-width: 1300px) {
    .page_title_with_backbutton {
        gap: 8px;
        margin-top: -10px;
        margin-bottom: 0px;
        flex-wrap: wrap;
    }
}
@media (max-width: 600px) {
    .page_title_with_backbutton {
        gap: 8px;
        margin-top: -10px;
        margin-bottom: 0px;
        flex-wrap: wrap;
    }
}

/* Extra small screens below 400px */
@media (max-width: 400px) {
    .page_title_with_backbutton {
        gap: 6px;
        margin-top: -11px;
        margin-bottom: -20px;
    }
}
