.table-header-cell {
  text-align: left; 
  font-weight: 500;
  background-color: var(--app-bg);
  padding: 0 12px; 

  &__content {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }
}

.th_container {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  padding: 0px; 

  .th_controls {
    display: flex;
    align-items: center;
    gap: 4px; 
  }
}